{
	"extends": [
		"plugin:import/errors",
		"plugin:import/warnings",
		"airbnb-base",
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"prettier"
	],
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module",
		"allowImportExportEverywhere": true
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jest": true
	},
	"plugins": [],
	"rules": {
		"import/extensions": "off",
		"import/no-unresolved": "off",
		"arrow-body-style": "off",
		"no-param-reassign": ["off"],
		"no-unused-vars": [
			"error",
			{
				"vars": "local",
				"args": "none"
			}
		],
		"no-plusplus": "off",
		"no-underscore-dangle": "off",
		"no-unused-expressions": "off",
		"react/display-name": "off",
		"camelcase": "off",
		"radix": ["error", "as-needed"],
		"consistent-return": [
			"error",
			{
				"treatUndefinedAsUnspecified": false
			}
		],
		"no-bitwise": [
			"error",
			{
				"allow": ["~"]
			}
		],
		"no-shadow": [
			"error",
			{
				"allow": ["Route", "pmt"]
			}
		],
		"no-console": [
			"warn",
			{
				"allow": ["warn", "error"]
			}
		]
	},
	"settings": {
		"import/extensions": [".js", ".jsx"],
		"import/resolver": {
			"node": {
			  "extensions": [
				".js",
				".jsx",
				".ts",
				".tsx"
			  ]
			}
		  },
		"react": {
			"version": "detect"
		}
	}
}
