@import '../../../application/theme/colors.scss';

.contianer-header {
	@extend .bg-primary;
	transition: box-shadow 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 24px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;

	&.scrolled {
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
	}

	> .img-logo {
		width: 150px;
		height: auto;
	}

	> .right-section-container {
		@include centered-flex;
		column-gap: 20px;

		> .notifications-container {
			@include centered-flex;
			column-gap: 12px;
			position: relative;

			> .icon-notification {
				@extend .color-error;
			}

			> .notifications-list-container {
				@extend .bg-secondary;
				@extend .border-neutral;
				border-style: solid;
				border-width: 2px;
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
				row-gap: 8px;
				padding: 14px 20px;
				position: absolute;
				top: 30px;
				right: 0px;
				width: 300px;
				z-index: 10;
				max-height: 250px;
				overflow-y: auto;
				list-style-type: none;

				> .notifications-list {
					list-style: none;
					> .notification-item {
						@include centered-flex;
						justify-content: flex-start;
						gap: 6px;
						width: 100%;
						padding: 8px;
					}
				}
			}
		}

		> .search-profile-contianer {
			@include centered-flex;
			@extend .bg-secondary;
			justify-content: space-between;
			border-radius: 20px;
			padding: 14px 10px;
			height: 50px;
			width: 420px;

			> .search-input-container,
			> .user-options-container {
				@extend .bg-tertiary;
				@extend .border-neutral;
				border-style: solid;
				border-width: 1px;
				border-radius: 10px;
				display: flex;
				align-items: center;
				column-gap: 8px;
				height: 29px;
				padding: 8px;
			}

			> .search-input-container {
				> .input {
					color: $fontColor;
					background: none;
				}
			}

			> .user-options-container {
				position: relative;
				> .user-wrapper {
					@include centered-flex;
					gap: 6px;
				}

				> .icon-options {
					cursor: pointer;
				}
			}
		}
	}
}
