.example-page {
	background-color: #bbf1f1;
	.suite-button {
		margin: 1rem !important;
		background-color: #244ef1 !important;
		color: white;
		padding: 1rem;
	}
	.todo {
		padding: 1rem;
		margin: 1rem;
		border: 1px solid #ccc;
	}
}
