@import 'mixins';

$primary: #1e1e1e;
$secondary: #38383a;
$tertiary: #474649;
$success: #1dbe7a;
$warning: #f89b2c;
$info: #a983ec;
$error: #f14f44;
$black: #1f1f1f;
$white: #ffffff;
$neutral: #515153;

$fontColor: $white;
$bgBody: $primary;

@include key-value-color('color', 'color');
@include key-value-color('bg', 'background-color');
@include key-value-color('border', 'border-color');
