@import 'mixins';

$primary: #244ef1;
$secondary: #0b1d2e;
$success: #04aa5e;
$warning: #ffb84b;
$info: #d3dcfc;
$error: #e30042;
$black: #1f1f1f;
$white: #ffffff;
$neutral: #bfbfbf;

$fontColor: $secondary;
$bgBody: $white;

@include key-value-color('color', 'color');
@include key-value-color('bg', 'background-color');
@include key-value-color('border', 'border-color');
